@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
    margin: 2rem;
    font-family: "DM Sans", sans-serif;;
}

.container {
    /* margin: 1rem 2rem; */
    margin: 1rem 2rem auto;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(6, minmax(60px, auto));
    gap: 20px;
}

.container > div {
    padding: 1rem;
    border-radius: 10px;
}

.container > div > img {
    width: 100%;
}

.container > div > p {
    line-height: 1.2rem;
}

.create {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: hsl(31, 66%, 93%);
    justify-content: center;
    align-items: center;
}

.create p {
    padding-bottom: 1rem;
}

.purple-italics {
    font-style: italic;
    color: purple;
}

.social {
    border: 2px solid pink;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(256, 67%, 59%);
    justify-content: center;
    align-items: center;
    }

.social h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.social img {
    object-fit: contain;
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 0.5rem;
}

.italics {
    font-style: italic;
}

.schedule {
    border: 2px solid yellow;
    grid-column: 4 / -1;
    grid-row: 1 / 5;
}

.write {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 4 / -1;
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: hsl(39, 100%, 71%);
}

.grow {
    border: 2px solid purple;
    grid-column: 3 / -1;
    grid-row: 5 / -1;
}

.manage {
    border: 1px solid brown;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.maintain {
    border: 2px solid gold;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.faster {
    border: 2px solid turquoise;
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}


